.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 0 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-header img {
  width: 30px;
  height: 30px;
  margin-top: 8px;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
  text-align: center;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
  align-items: center;
  display: flex;
}
.resaltar {
  background-color: pink;
}

.cards {
  display: flex;
  justify-content: space-between;
}
